<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <nav class="logo">
            <img src="img/django-logo.png" alt="">
            <ul class="nav_links"></ul>
                <li><a href="#">option 1</a>
                <li><a href="#">option 2</a>
                <li><a href="#">option 3</a>
            </ul>
        </nav>
       <!--
        <h1>This is Product List</h1>
        {{products}}
        {% for product in products %}
        "/myapp/products/{{product.id}}"
        <a href="{% url 'myapp:productdetail' product.id %}">
        <h2> {{product.name}} </h2> | {{product.price}} | {{product.description}} </br>
        </a>
        {% endfor %}
      --->
    </body>
</html>