{% extends 'myapp/base.html' %}
{% block body  %}

<form class="add-form" method="POST" enctype="multipart/form-data">
    <!-- CSRF token: Cross Site Request Forgery  -->
    {% csrf_token %}
    <h1> + Add Product </h1>
    <div class="input-text">
        <input placeholder="Name" type="text" name="name" id="name" required/>
    </div>
    <div class="input-text">
        <input placeholder="Price" type="text" name="price" id="price" required/>
    </div>
    <div class="input-text">
        <input placeholder="Description" type="text" name="description" id="description" required/>  
    </div>
    <div class="input-text">
        <input class="load-btn" placeholder  type="file" accept="image/*" name="upload" id="upload">
    </div>
    
    <button class="cart-btn" type="submit">Add Product</button>
</form>
{% endblock %}